html {
  font-family: 'Overpass';
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #131518;
}

.rating--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 350px;
  height: 352px;
  padding: 32px;
  border-radius: 30px;
  background: linear-gradient(#232A34, #181E27);
}
.rounded--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #262E38;
}
.rating--button--container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.submit--button {
  width: 341px;
  height: 45px;
  background-color: #FC7614;
  text-transform: uppercase;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 22px;
  font-family: 'Overpass'
}
.card--header {
  font-style: bold;
  font-size: 28px;
  color: #FFFFFF;
}
.card--paragraph {
  width: 100%;
  text-align: left;
  font-style: 400;
  font-size: 15px;
  color: #969FAD;
}